<div class="m-3">
  <%= simple_form_for @office, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }, class: "d-flex flex-column" do |f| %>
    <%= f.input :name %>
    <div class="d-flex flex-column mb-3">
      <%# for checkboxes %>
      <%#= f.collection_check_boxes :facility_ids, Facility.all, :id, :name, include_hidden: false, item_label_class: "ps-1" %>

      <%# for select dropdown %>
      <%#= f.input :facility_ids, collection: Facility.all, label_method: :name, label_value: :id, include_hidden: false, item_label_class: "ps-1" %>

      <%# nested form with extra fields %>
      <template data-nested-form-target="template">
        <%= f.simple_fields_for :office_facilities, OfficeFacility.new, child_index: 'NEW_RECORD' do |facility_f| %>
          <%= render "facility_form", f: facility_f %>
        <% end %>
      </template>

      <%= f.simple_fields_for :office_facilities do |facility_f| %>
        <%= render "facility_form", f: facility_f %>
      <% end %>

      <div data-nested-form-target="target"></div>
      <button type="button" data-action="nested-form#add">Add facility</button>
    </div>
    <%= f.button :submit, class: "btn-primary" %>
    <%= link_to "Cancel", offices_path, class: "btn btn-danger" %>
  <% end %>
</div>
